<ion-view title="登录" hide-nav-bar="true" hide-back-button="true" id="page5" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <form id="page5-form5" class="list ">
            <div class="spacer" style="width: 300px; height: 48px;"></div>
            <h3 id="page5-heading2" style="color:#E69818;text-align:center;" class=" ">果小然儿</h3>
            <ion-list id="page5-list1" class=" ">
                <label class="item item-input " id="page5-input2">
                    <span class="input-label">帐号</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="page5-input3">
                    <span class="input-label">密码</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.page6_tab1" id="page5-button3" style="color:#FFFFFF;" class=" button button-balanced  button-block ">登录</a>
        </form>
    </ion-content>
</ion-view>