<ion-view title="通知" class=" " ng-init="doRefresh()">
    <ion-nav-buttons side="right">
        <a class="button button-clear button-positive" href="#/tab/subscribe">订阅</a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header" scrollbar-y="false" overflow-scroll="false">
        <ion-refresher on-refresh="doRefresh()"
                       spinner="ios-small">
        </ion-refresher>
        <div class="list card margin-top-0" ng-repeat="data in datas" ng-click="open(data.url)">
            <ion-item class="item-divider row">
                <h2 class="col">{{data.channel}}</h2>
                <p class="col note">{{data.publishAt*1000 | date:'MM-dd HH:mm'}}</p>
            </ion-item>
            <div class="item item-body">
                <p>{{data.content}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
