<ion-view title="通知" class=" ">
    <ion-nav-buttons side="right">
        <a class="button button-clear button-positive" href="#/tab/subscribe">订阅</a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">

        <div class="list card">

            <div class="item">
                <h2>果然100销售日报 @ 07-19 20:30</h2>
            </div>

            <div class="item item-body">
                <p>进度完成62%！
                </p>
            </div>

        </div>
    </ion-content>
</ion-view>
