<ion-view title="设置" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list class=" manual-list-fullwidth ">
            <ion-item class="item-avatar  ">
                <h2>Man</h2>
            </ion-item>
            <ion-item class="item-icon-right  ">使用帮助
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right  ">问题反馈
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right  ">检查更新
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <p style="color:#000000;text-align:center;" class=" ">Versioin:1.2.3</p>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <a ui-sref="" id="page4-button5" style="font-weight:lighter;color:#FFFFFF;border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">注销</a>
    </ion-content>
</ion-view>
