<ion-view title="设置" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page4-list2" class=" manual-list-fullwidth ">
            <ion-item class="item-avatar  " id="page4-list-item36">
                <h2>Man</h2>
            </ion-item>
            <ion-item class="item-icon-right  " id="page4-list-item17">使用帮助
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="page4-list-item18">问题反馈
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="page4-list-item19">检查更新
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <p id="page4-markdown4" style="color:#000000;text-align:center;" class=" ">Versioin:1.2.3</p>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <a ui-sref="page5" id="page4-button5" style="font-weight:lighter;color:#FFFFFF;border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">注销</a>
    </ion-content>
</ion-view>