<ion-view title="应用中心" class=" " hide-back-button="true"  ng-init="doRefresh()">
    <ion-content padding="true" class="has-header" scrollbar-y="false" overflow-scroll="false">
      <ion-refresher on-refresh="doRefresh()" spinner="ios-small"></ion-refresher>
        <ion-list class=" manual-list-fullwidth ">
            <ion-item class="item-icon-right  " ng-repeat="app in apps" ng-click="open(app.appurl)">
                {{app.appname}}
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div class="card" ng-if="apps.length === 0">
          <div class="item item-divider">
            提示
          </div>
          <div class="item item-text-wrap">
            <div class="spacer" style="height: 49px;"></div>
            <h1>你还没有任何可用的应用呢</h1>
            <div class="spacer" style="height: 49px;"></div>
          </div>
        </div>
    </ion-content>
</ion-view>
