<ion-view title="应用中心" class=" ">
    <ion-content padding="true" class="has-header" scrollbar-y="false" overflow-scroll="false">
        <ion-list class=" manual-list-fullwidth ">
            <ion-item class="item-icon-right  ">采购端
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="height: 100px;"></div>
        <button  class=" button button-balanced  button-block icon ion-android-add ">添加</button>
    </ion-content>
</ion-view>
