<ion-view title="看板月报" class=" " ng-init="doRefresh()">
  <ion-nav-buttons side="right">
      <a class="button button-clear button-positive" ng-click="more()">更多</a>
  </ion-nav-buttons>
  <div class="bar bar-subheader">
    <h4 class="title">数据区间2016-07</h4>
  </div>
    <ion-content padding="true" class="has-subheader" scrollbar-y="false" overflow-scroll="false">
        <ion-refresher on-refresh="doRefresh()"
                spinner="ios-small">
        </ion-refresher>
        <div class="list card manual-card-fullwidth margin-top-0">
            <div ng-repeat="data in datas">
                <ion-item class="item-divider row">
                    <h2 class="col">{{data.title}} </h2>
                </ion-item>

                <ion-item ng-repeat="d in data.datas" class="" ng-class="{true:'item-icon-right'}[d.details != undefined]" ng-click="showDetail(d.details)">
                {{d.title}}<span class="item-note">{{d.val}}</span>
                <i ng-if="d.details != undefined" class="icon ion-ios-arrow-right"></i>
                </ion-item>
            </div>
        </div>

    </ion-content>
</ion-view>
