<ion-view title="看板" hide-back-button="true" class=" " ng-init="doRefresh()">
    <ion-content padding="true" class="has-header">
        <ion-refresher on-refresh="doRefresh()"
                spinner="ios-small">
        </ion-refresher>
        <p style="color:#BBBBBB;font-size:12px;" class=" ">数据更新时间：{{datas.lastUpdateAt | date:'yyyy-MM-dd HH:mm:ss'}}</p>
        <div class="list card manual-card-fullwidth ">
            <div ng-repeat="data in datas.datas">
                <ion-item class="item-divider">{{data.title}}</ion-item>
                <ion-item ng-repeat="d in data.datas" class="  ">
                    {{d.title}}<span class="item-note">{{d.val}}</span>
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>
