<ion-view title="订阅" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page8-list3" class=" manual-list-fullwidth ">
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="page8-toggle2" class=" ">果然销售</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="page8-toggle3" class=" ">世果销售</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="page8-toggle8" class=" ">果饮店销售</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="page8-toggle4" class=" ">库存预警</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="page8-toggle7" class=" ">物流指标</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="page8-toggle5" class=" ">采购通知</ion-toggle>
        </ion-list>
    </ion-content>
</ion-view>